<div class="row">
	<div class="col-md-5">
		<textarea class="news" readonly></textarea>
	</div>
	<div class="col-md-2">

	</div>
	<div class="col-md-5">
		<textarea class="grapevine" readonly></textarea>
	</div>

</div>

<div class="row">
	<div class="col-md-5">
	</div>

	<div class="col-md-2">
	</div>

	<div class="col-md-5 player-status">
		<ul class="list-group">
			<li class="list-group-item"><span class="statusname">Health:_____ </span> <span class="statusbar" id="health"><img src="images/statusbar.jpg"/></span></li>
			<li class="list-group-item">Creativity:_ <span class="statusbar" id="creativity"><img src="images/statusbar.jpg"/></span></li>
			<li class="list-group-item">Happiness:__ <span class="statusbar" id="happiness"><img src="images/statusbar.jpg"/></span></li>
			<li class="list-group-item">Alertness:__ <span class="statusbar" id="alertness"><img src="images/statusbar.jpg"/></span></li>
		</ul>
	</div>

</div>


