<div class="window dialog" id="whatToDo">
	<p>What do you want to do today?</p>
	<ul class="list-group">
		<li class="list-group-item" ><a href="#" class="window-option" data-option="L">Laze around for a while<a/></li>
		<li class="list-group-item" >Write songs & practise</li>
		<li class="list-group-item" >Gig</li>
		<li class="list-group-item" >Record a single or album</li>
		<li class="list-group-item" >Have a holiday</li>
		<li class="list-group-item" >Visit your doctor</li>
		<li class="list-group-item" >Consult your analyst</li>
		<li class="list-group-item" >Unwind in a sanitorium</li>
	</ul>
</div>	