*
{
    font-family: 'Droid Sans Mono';
}
.container
{
	background-color:red;
	padding: 25px;
	height:670px;
}

textarea 
{
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: black;
}

textarea.news
{
	height:490px;
	width:400px;
}

textarea.grapevine
{
	height:460px;
	width:440px;
}

/* dialog window positioning */
div.topleftcorner
{
    position: absolute;
    left: 450px !important; 
    top: 70px !important;
}

.player-status
{
    line-height: 4px;
    font-size: 12px;
}

.statusbar img
{
    height:10px;
}